/.curseclient
/.mixin.out
/.qmenu_opened.marker
/backups
/crash-reports
/debug
/downloads
/emi.json
/essential
/journeymap
/ldlib
/local
/localconfigs
/logs
/minecraftinstance.json
/ops.json
/patchouli_books
/patchouli_data.json
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json